
<div class="show row">
  <div class="cover col-md-4">  </div>

  <div class="col-sm-8">
    <h3 class="album-title">  </h3>
    <p class="album-artist">  </p>
    <p>Tracks:<% @tracks.inspect %></p>
    <p>Dog:<% @dog.inspect %></p>
    <% @tracks.each do |track| %> 
    <div class="track row">
      <div class="name col-md-8">track.name</div>
      <div class="minutes col-md-4">track.minutes</div>
    </div>
    <% end %>
    
  </div>
</div>
